@model IEnumerable<MyTrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Monday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Monday</h1>

<p>
    <a asp-action="Monday" asp-route-id="model.Id">Monday Pickups</a> |
    <a asp-action="Tuesday" asp-route-id="model.Id">Tuesday Pickups</a> |
    <a asp-action="Wednesday" asp-route-id="model.Id">Wednesday Pickups</a> |
    <a asp-action="Thursday" asp-route-id="model.Id">Thursday Pickups</a> |
    <a asp-action="Friday" asp-route-id="model.Id">Friday Pickups</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpDay)
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Details" asp-route-id="model.Id">Back To All Pickups</a> |
<a asp-action="Index" asp-route-id="model.Id">Back To Home</a>
